<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.webServer>
    <modules>
      <add name="RpcModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web"/>
    </modules>
  </system.webServer>
  <system.web>
    <httpModules>
      <add name="RpcModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="WebSharper" namespace="IntelliFactory.WebSharper.Web" assembly="IntelliFactory.WebSharper.Web"/>
        <add tagPrefix="Samples" namespace="IntelliFactory.WebSharper.Google.Maps.Samples" assembly="IntelliFactory.WebSharper.Google.Maps.Samples"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
